.el-button {
  padding: 9px !important;
}
.el-button--primary {
  background-color: #3ba9e8 !important;
  border-color: #2fa4e7 !important;
  &:hover {
    opacity: .8;
  }
}
.el-button--success {
  background-color: #81b944 !important;
  border-color: #73a839 !important;
  &:hover {
    opacity: .8;
  }
}
.el-button--info {
  background-color: #414951 !important;
  border-color: #343a40 !important;
  &:hover {
    opacity: .8;
  }
}
.el-button--danger {
  background-color: #d9262c !important;
  border-color: #c71c22 !important;
  &:hover {
    opacity: .8;
  }
}
.el-button--text {
	color: #3375AB !important;
	&:hover {
		text-decoration: underline;
	}
}