@import  "button";
@import  "table";

/***** 变量 ******/
$c9EB900: #9EB900;
$c3375AB: #3375AB;
$borderColor: #ddd;
$themeColor: rgba(22, 155, 213, 1);

body {
	color: #495057;
	font-size: 14px;
	line-height: 24px;
	font-family: '微软雅黑'
}

.header {
	background-color: #fff;
}

.login-wrap {
	background: #324157;
}

.plugins-tips {
	background: #eef1f6;
}

.plugins-tips a {
	color: #20a0ff;
}

.el-upload--text em {
	color: #20a0ff;
}

.pure-button {
	background: #20a0ff;
}

.tags-li.active {
	border: 1px solid #409EFF;
	background-color: #409EFF;
}

.message-title {
	color: #20a0ff;
}

.collapse-btn:hover {
	background: rgb(40, 52, 70);
}

.mg0 {
	margin: 0;
}

.mgb0 {
	margin-bottom: 0 !important;
}

.mg10 {
	margin: 10px;
}

.mgt5 {
	margin-top: 5px !important;
}

.mgb5 {
	margin-bottom: 5px !important;
}

.mgl5 {
	margin-left: 5px !important;
}

.mgr5 {
	margin-right: 5px !important;
}

.mglr5 {
	margin-left: 5px;
	margin-right: 5px;
}

.mgl10 {
	margin-left: 10px !important;
}

.mgr10 {
	margin-right: 10px;
}

.mgt10 {
	margin-top: 10px;
}

.mgb10 {
	margin-bottom: 10px !important;
}

.mgtb10 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.mglr10 {
	margin-left: 10px;
	margin-right: 10px;
}

.mg20 {
	margin: 20px;
}

.mgl20 {
	margin-left: 20px !important;
}

.mgr20 {
	margin-right: 20px;
}

.mgt20 {
	margin-top: 20px;
}

.mgb20 {
	margin-bottom: 20px;
}

.mgtb20 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.mglr20 {
	margin-left: 20px;
	margin-right: 20px;
}

.mg30 {
	margin: 30px;
}

.mgl30 {
	margin-left: 30px;
}

.mgr30 {
	margin-right: 30px;
}

.mgt30 {
	margin-top: 30px;
}

.mgb30 {
	margin-bottom: 30px;
}

.mgtb30 {
	margin-top: 30px;
	margin-bottom: 30px;
}

.mglr30 {
	margin-left: 30px;
	margin-right: 30px;
}

.mg40 {
	margin: 40px;
}

.mgl40 {
	margin-left: 40px;
}

.mgr40 {
	margin-right: 40px;
}

.mgt40 {
	margin-top: 40px;
}

.mgb40 {
	margin-bottom: 40px;
}

.mgtb40 {
	margin-top: 40px;
	margin-bottom: 40px;
}

.mglr40 {
	margin-left: 40px;
	margin-right: 40px;
}

.pd0 {
	padding: 0px;
}

.pdl0 {
	padding-left: 0px;
}

.pdr0 {
	padding-right: 0px;
}

.pdt0 {
	padding-top: 0px;
}

.pdb0 {
	padding-bottom: 0px;
}

.pdtb0 {
	padding-top: 0px;
	padding-bottom: 0px;
}

.pdlr0 {
	padding-left: 0px;
	padding-right: 0px;
}

.pd10 {
	padding: 10px;
}

.pdl10 {
	padding-left: 10px;
}

.pdr10 {
	padding-right: 10px;
}

.pdt10 {
	padding-top: 10px;
}

.pdb10 {
	padding-bottom: 10px;
}

.pdtb10 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.pdlr10 {
	padding-left: 10px;
	padding-right: 10px;
}

.pd15 {
	padding: 15px;
}

.pd20 {
	padding: 20px;
}

.pdl20 {
	padding-left: 20px;
}

.pdr20 {
	padding-right: 20px;
}

.pdt20 {
	padding-top: 20px;
}

.pdb20 {
	padding-bottom: 20px;
}

.pdtb20 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.pdlr20 {
	padding-left: 20px;
	padding-right: 20px;
}

.pd30 {
	padding: 30px;
}

.pdl30 {
	padding-left: 30px;
}

.pdr30 {
	padding-right: 30px;
}

.pdt30 {
	padding-top: 30px;
}

.pdb30 {
	padding-bottom: 30px;
}

.pdtb30 {
	padding-top: 30px;
	padding-bottom: 30px;
}

.pdlr30 {
	padding-left: 30px;
	padding-right: 30px;
}

.pd40 {
	padding: 40px;
}

.pdl40 {
	padding-left: 40px;
}

.pdr40 {
	padding-right: 40px;
}

.pdt40 {
	padding-top: 40px;
}

.pdb40 {
	padding-bottom: 40px;
}

.pdtb40 {
	padding-top: 40px;
	padding-bottom: 40px;
}

.pdlr40 {
	padding-left: 40px;
	padding-right: 40px;
}

.fs12 {
	font-size: 12px;
}

.fs14 {
	font-size: 14px !important;
}

.fs16 {
	font-size: 16px;
}

.fs18 {
	font-size: 18px;
}

.fs20 {
	font-size: 20px;
}

.fc9EB900 {
	color: $c9EB900;
}

.fc3375AB {
	color: $c3375AB;
}

.fc800000 {
	color: #800000;
}

.fc-el-table-head {
	color: #909399;
}

.fc-green {
	color: #008000;
}

.fc-red {
	color: #FF0000;
}

.fc-blue {
	color: #0000ff;
}

.fcfff {
	color: #fff;
}

.bgfff {
	background: #fff;
}

.bge4e4e4 {
	background: #e4e4e4 !important;
}

.bg-green {
	background: #008000;
}

.bgred {
	background: #ff0000;
}

.bg00B051 {
	background: #00B051;
}

.bgffff00 {
	background: #ffff00;
}

.bg00b0f0 {
	background: #00b0f0;
}

.bge46d0a {
	background: #e46d0a;
}

.bg8db4e3 {
	background: #8db4e3;
}

.dib {
	display: inline-block;
}

.dflex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.flex {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	-webkit-flex: 1;
	flex: 1;
}

.tl {
	text-align: left !important;
}

.tc {
	text-align: center !important;
}

.tr {
	text-align: right !important;
}

.fr {
	float: right;
}

.fl {
	float: left;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.overflowHidden {
	overflow: hidden;
}

.posFull {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
}

.opacity0 {
	opacity: 0;
}

.pos-relative {
	position: relative;
}

.ellipsis {
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

.lh26 {
	line-height: 26px;
}

.lh32 {
	line-height: 32px;
}

.pointer {
	cursor: pointer;
}

.bor0 {
	border: none; 
}

.bor {
	border: 1px solid #e0e0e0; 
}

.bort {
	border-top: 1px solid #e0e0e0;
}

.borb {
	border-bottom: 1px solid #e0e0e0;
}

.borb-green {
	border-bottom: 1px solid #a3bf1f;
}

.rel {
	position: relative;
}

.mask {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	line-height: 100%;
	text-align: center;
	color: #409EFF;
	font-size: 30px;
	background: rgba(0, 0, 0, .6);
	z-index: 99;

	i {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -10px;
		margin-left: -10px;
	}
}

.main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	position: absolute;
	top: 0px;
	right: 10px;
	bottom: 10px;
	left: 10px;
	padding: 15px;
	border: 1px solid $borderColor;
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);

	.main-left {
		position: relative;
		width: 300px;
		background: rgba(228, 228, 228, 1);
		border-right: 1px solid $borderColor;

		.main-left-search {
			border-bottom: 1px solid #fff;
		}

		.list {
			position: absolute;
			top: 95px;
			right: 0px;
			bottom: 0px;
			left: 0px;
			line-height: 26px;
			overflow-y: auto;

			.list-item {
				&>.el-row {
					margin-bottom: 0;
				}

				a {
					margin-right: 10px;
					color: $c3375AB;
					text-decoration: underline;
				}
			}

			.list-item.active {
				border-top: 1px solid #9bbcde;
				border-bottom: 1px solid #9bbcde;
				background: rgb(215, 215, 215);
			}
		}
	}

	.main-right {
		-webkit-box-flex: 1;
		-ms-flex: 1;
		-webkit-flex: 1;
		flex: 1;
		position: relative;
		overflow: auto;

		.up,
		.down {
			position: relative;
			height: 20px;
			z-index: 8;
			img {
				display: none;
			}
		}

		&:hover {

			.up img,
			.down img {
				display: inline-block;
			}
		}

		.main-right-title {
			padding: 0 20px;
			font-size: 14px;
			color: rgb(29, 156, 229);
			line-height: 50px;
			border-radius: 2px;
			background: #e9ecef;
		}

		.main-content-title {
			font-size: 15px;
			padding-left: 10px;
			padding-right: 30px;

			&>div {
				margin-top: 5px;
				padding: 5px 0px;
				border-bottom: 1px solid $borderColor;
			}
		}

		.main-content {
			position: absolute;
			top: 50px;
			left: 0px;
			right: 0px;
			bottom: 0px;
			line-height: 24px;

			.main-content-page {
				position: absolute;
				top: 50%;
				right: 5px;
				-webkit-transform: translate(0, -50%);
				transform: translate(0, -50%);

				i {
					display: block;
					font-size: 20px;
					margin: 10px auto;
					color: #999;
					cursor: pointer;

					&:hover {
						color: #333;
					}
				}

				span {
					display: block;
					width: 10px;
					height: 10px;
					margin: 10px auto;
					border-radius: 100%;
					background: #999;
					cursor: pointer;

					&:hover {
						background: #333;
					}
				}
			}
		}

		.main-content-scorll {
			position: absolute;
			top: 40px;
			left: 10px;
			right: 30px;
			bottom: 0px;
		}
		
		.down {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
		}
	}
}

.v-upload {
	width: 88px;

	.el-upload {
		width: 88px;
		height: 88px;
		line-height: 86px;
	}
}

.v-textarea textarea {
	height: 100px;
}

.el-form-item-mgb0 .el-form-item {
	margin-bottom: 0 !important;
}

.searList {
	padding: 10px 0;

	a {
		display: block;
		color: #333;
		line-height: 40px;

		&:hover,
		&.active {
			background: #d7d7d7;
		}

		i {
			position: relative;
			top: 3px;
			font-size: 20px;
			color: #999;
			margin-left: 20px;
			margin-right: 10px;
		}
	}
}

.el-carousel__indicator--vertical {
	padding-top: 0 !important;
	padding-bottom: 0 !important;

	.el-carousel__button {
		width: 10px !important;
		height: 10px !important;
		margin: 10px auto;
		border-radius: 100%;
		background: #999;
		cursor: pointer;

		&:hover {
			background: #333;
		}
	}
}

.el-carousel__indicator.is-active button {
	background: #000;
}

.filter {
	padding-top: 10px;
	p {
		padding: 5px 10px;
		font-size: 16px;
		color: #666;
		transition: all .4s;
		cursor: pointer;
		i {
			color: #999;
		}
		&:hover {
			background: #d4d4d4;
		}
	}
}

.order-table-wrapper {
	position: absolute;
	top: 0;
	right: 1px;
	bottom: 0;
	left: 0;
	padding: 20px 10px 10px 0;
	overflow: auto;
	.el-table {
		min-width: 400px;
		border: none;
		th, td {
			border: 0 !important;
		}
		&:before {
			display: none;
		}
	}
}

.tags-li.active {
	border: 1px solid $themeColor;
	background-color: $themeColor;
}

.el-dialog {
	.el-dialog__header {
		background: rgba(51, 117, 171, 1);
		.el-dialog__title, .el-dialog__headerbtn .el-dialog__close {
			color: #fff;
		}
	}
}
.el-carousel--vertical {
	position: absolute !important;
	top: 0;
	right: 0;
	bottom: 40px;
	left: 0;
	padding-top: 10px;
	overflow: hidden;
	.el-carousel__container {
		height: 100%;
	}
}
.sort {
	background: rgba(242, 242, 242, 1);
	.el-dropdown-menu__item {
		&:first-child {
			button {
				color: #606266;
				&.active {
					color: #169bd5;
					text-decoration: underline;
				}
			}
			&:hover {
				background: transparent;
			}
		}
		.el-radio__input.is-checked+.el-radio__label {
			color: #169bd5;
		}
		.el-radio__input.is-checked .el-radio__inner {
			border-color: #169bd5;
			background: #169bd5;
		}
	}	
}
.handle {
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 0;
	background: #fff;
	border-top: 1px solid #a3bf1f;
}
.mrmj-table {
	margin-top: 5px;
	border-collapse:collapse;
 	border: 1px solid #EBEEF5;
 	tr {
 		th {
 			padding: 2px 10px;
 			font-weight: normal;
 			border-right: 1px solid #EBEEF5;
 			border-bottom: 1px solid #EBEEF5;
 		}
 		td {
 			padding: 2px 10px;
 			border-right: 1px solid #EBEEF5;
 			border-bottom: 1px solid #EBEEF5;
 		}
 	}
}
.el-dialog__body {
	padding: 10px 20px !important;
	color: #495057 !important;
}
.dialog-gray {
	.el-dialog__body {
		padding: 0 10px;
		background: rgba(242, 242, 242, 1);
	}
}
.v-tabs {
	border-bottom: 1px solid #a3bf1f;
	.v-tab {
			display: inline-block;
			width: 120px;
			line-height: 40px;
			text-align: center;
			font-size: 16px;
			cursor: pointer;
			&.active {
			color: #fff;
			background: #a3bf1f;
			}
	}
}
.detail-main {
	position: absolute;
	top: 115px;
	right: 10px;
	bottom: 54px;
	left: 10px;
	overflow-y: auto;
	& > div {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		.preview-content {
			position: absolute;
			top: 0;
			right: 0px;
			bottom: 0;
			left: 0;
			overflow-y: auto;
		}
		.preview-handle {
			position: absolute;
			top: 0;
			right: 0px;
			bottom: 0;
			width: 100px;
		}
	}
}
.detail-footer {
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 0px;
	padding: 10px 0;
	border-top: 1px solid #a3bf1f;
}
.people {
	padding: 10px;
	color: #169BD5;
	border: 1px solid #ddd;
	p {
	  span {
	    text-decoration: underline;
	  }
	  img {
	    position: relative;
	    top: 7px;
	    width: 32px;
	    height: 32px;
	    margin-right: 5px;
	  }
	  strong {
	    color: #333;
	    font-weight: normal;
	  }
	}
}

.avatar-uploader {
	.el-upload {
		border: 1px dashed #d9d9d9;
		border-radius: 6px;
		cursor: pointer;
		position: relative;
		overflow: hidden;
		&:hover {
			border-color: #409EFF;
		}
	}
	.el-upload--text {
		width: auto;
		height: auto;
	}
	.avatar-uploader-icon {
		font-size: 28px;
		color: #8c939d;
		width: 178px;
		height: 178px;
		line-height: 178px;
		text-align: center;
	}
	.avatar {
		width: 178px;
		height: 178px;
		display: block;
	}
}
.el-form-item__label {
	color: #495057 !important;
}
.el-input__inner {
	border: 1px solid #a9a9a9 !important; 
}
.el-input.is-active .el-input__inner, .el-input__inner:focus {
	border-color: #3ba9e8 !important;
}
.history {
	position: relative;
	.empty {
		height: 100px;
		line-height: 100px;
		text-align: center;
		color: #999;
	}
	.history-line {
		position: absolute;
		top: 10px;
		bottom: 0;
		left: 0;
		width: 0px;
		border-left: 2px dashed #797979;
		//background: url('../img/dashed.png');
	}
	.history-item {
		position: relative;
		padding: 10px 15px;
		color: #495057 !important;
		.history-icon {
			position: absolute;
			top: 5px;
			left: -10px;
			display: inline-block;
			font-size: 20px;
			z-index: 8;
		}
	}
}