.edit-table {
  .el-table__body td {
    height: 36px;
    padding: 0;
    .cell {
      padding: 0 !important;
      & > div {
        padding: 6px 10px;
        & > div {
          position: relative;
          height: 23px;
          .el-input, .el-autocomplete, .el-select, .el-date-editor {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: auto;
            .el-input__inner {
              height: 23px;
              line-height: 23px;
            }
          }
        }
      }
    }
  }
  td.notEdit {
    .cell {
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
  }
  td .el-select__tags {
    position: absolute;
    top: 9px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 23px;
    max-width: auto !important;
    & > span {
      display: block;
      overflow: hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
      .el-tag--info {
        position: relative;
        top: 3px;
      }
    }
  }
}
.edit {
  position: relative;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  font-size: 12px;
  .el-input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 12px;
  }
}
.table-td-red {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 34px;
  padding-left: 10px;
  padding-top: 0;
  background: #ff0000;
}
.el-table__row.active td {
  background: #d7d7d7 !important;
}